<!DOCTYPE html>
<head>
	

</head>
<body>
	<div class="separator" style="clear: both; text-align: center;">
<a href="https://1.bp.blogspot.com/-ou1cAkegNx0/WNaq4AqdYMI/AAAAAAAAGJQ/H-7aggFbQHMwLmS0iaQJW0fZo7bsmmz_gCLcB/s1600/IMG_20170325_183544_512.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img alt="Comprehensive Analysis of Kofi Awoonor Poem, &quot;The Anvil and the Hammer&quot;" border="0" height="162" src="https://1.bp.blogspot.com/-ou1cAkegNx0/WNaq4AqdYMI/AAAAAAAAGJQ/H-7aggFbQHMwLmS0iaQJW0fZo7bsmmz_gCLcB/s320/IMG_20170325_183544_512.jpg" title="Comprehensive Analysis of Kofi Awoonor Poem, &quot;The Anvil and the Hammer&quot;" width="320" /></a></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: tahoma, sans-serif;">Many Africans have lost
and forgotten about their roots/African values as a result of their increasing
contact with the western culture through western education and religion. While
some who are still conscious of their roots try to fuse both cultures (African
and Western cultures), others have totally left their African heritage for the western culture. The attitude of the latter has no doubt spurred Kofi Awoonor
to write the poem, "The Anvil and the Hammer".</span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;"><br />
<b>Also read:&nbsp;<a href="http://www.tammysenglishblog.com/2017/01/george-herbert-pulley-as-metaphysical.html?m=1#more" target="_blank">George Herbert's "The Pulley" as
a metaphysical poem</a><o:p></o:p></b></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">Through his poem, Kofi
Awoonor tells Africans (who have thrown their cultures into the mud due to their exposure to the western culture) to trace and embrace their roots. He
is not against Africans identifying with the western culture but of
the opinion that both cultures have significant roles to play in the
transformation of the old African into a new African. &nbsp;He uses two working
tools (anvil and hammer) to symbolize this idea.<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">Literally,
"Anvil" is an iron block on which a Blacksmith puts hot pieces of
metal before shaping them with a "hammer". Anvil and Hammer are like
two sides of a coin; one cannot do without the other in the transformation
process of the hot pieces of metal placed between them. For the hot pieces of
metal to be refined, these working tools need to be in place.<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
</div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">Symbolically, this piece
of metal is the African who finds himself in between two distinct cultures
represented by the anvil and hammer. "The anvil" represents the
African tradition while "the hammer" is the western culture. Both influence the African in the process of transforming him/her into a new
being.<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">From the opening lines of
the poem, the poet, in a metaphorical tone, is caught between the anvil and the
hammer, suggesting that he is in between two cultures (African culture and
Western culture) through which his life can be reformed:<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">Caught between the anvil
and the hammer</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">In the forging house of a
new life. (Lines 1-2)</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">The anvil and hammer, which represent the African and western cultures respectively, are capable of
bringing moral rehabilitation, transformation and rebirth from the old trend of
life to a new view of life in the life of the African. "The forging
house" is where the transformation takes place. In a symbolic level, the
forging house represents the schools and churches where Africans learn the
ways of the white man through western education and religion. The forging house
is where these two distinct cultures meet.<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;"><br />
<b>Read:&nbsp;<a href="http://www.tammysenglishblog.com/2017/01/william-morris-proud-king-as-epic-poem.html?m=1#more" target="_blank">William Morris' "The Proud King"
as an Epic Poem</a><o:p></o:p></b></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">Like every new birth,
this transformation goes with pangs (pains) of delivery, and a new birth calls
for celebration:<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">Transforming the pangs
that delivered me</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">Into the joy of a new
song. (Lines 3-4)</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">The above lines simply
mean that the processes involved in transforming the old African (raw metal)
into a new African (refined metal) is characterized with pains, but after the
transformation process, there is joy of a new song. This can also be
likened to the actions of the hammer on the hot pieces of metal placed on the
anvil. The hot pieces of metal after being placed on the anvil, receives numerous
painful strikes from the hammer in order to get into its reformed or new state.<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">Having been ushered into
a new life &nbsp;(civilization), the poem's persona in lines 5 - 7 considers
the attraction and natural state of his ancient lifestyle (African tradition)
before its adulteration by western civilization. He describes the African
tradition, which is known for its ritual sacrifices in the "fetish
hut", as "tender and tenuous":<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">The trappings of the
past, tender and tenuous</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">Woven with the fibre of
sisal and</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">Washed in the blood of
the goat in the fetish hut</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">Unfortunately, this
tender and tenuous nature of the African tradition has been covered by
"paved streets" (modernity and civilization), and has also resulted in
the importation of new culture and language (the white man's culture and
language) which have shattered the African heritage so much that sacred orders
are violated in the name of civilization and modernization:<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">...Are laced with flimsy
glories of paved streets</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">The jargon of a new
dialectic comes with the</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">Charisma of the perpetual
search on the outlaw's hills (Lines 8-10)</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">Consequently, the
speaker/persona cries to "our fathers" to "sew the old
days" so "that we can wear them under our new garment." Our
"new garment" refers to the western culture to which we have now been
inducted into after being baptized in the "whirlpool of the many rivers'
estuary." "The many rivers' estuary" refers to the many new
experiences to which the African is exposed to due to his increased contact
with the western culture (see lines 11-14). The speaker asking his fore fathers
to sew the old days so that we can we wear them under our new garment clearly
affirms the fact that Kofi Awoonor is not against Africans identifying with the
western culture but of the opinion that any African who has been exposed
to the western culture, either through education or religion, should not leave
his/her African values for western values and beliefs; rather, the person
should embrace both cultures as they have significant roles to play in
transforming the old African into a new African.<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">In lines 15-19, there is
an admission by the poet that they even "hear their songs and rumours
everyday" and "determined to ignore these we use snatches from their
tunes." The speaker is trying to buttress the point that even though they
can hear and sing foreign songs to the detriment of African songs, they are now
determined to embrace their cultural values and work towards promoting it by
making themselves new flags and anthems while they lift high the banner of the
land. Undoubtedly, these lines (15-19) portray the poet as a patriot.<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">From the last two lines
(lines 20 and 21), one can deduce from the thought of the speaker that after we
have raised high the banner of our land, we can now see the superiority of our
cultures, beliefs and values as against the foreign lifestyles:<o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">And listen to the
reverberation of our songs</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<b><span style="font-family: &quot;tahoma&quot; , sans-serif;">In the splash and moan of
the sea.</span></b><span style="font-family: &quot;tahoma&quot; , sans-serif;"><o:p></o:p></span></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<br /></div>
<div style="line-height: 150%; margin-bottom: .0001pt; margin: 0in;">
<span style="font-family: &quot;tahoma&quot; , sans-serif;">From the
foregoing, Kofi Awoonor's poem, "The Anvil and the Hammer" is no
doubt a sensitization to the black world to trace and embrace their root by always
defending and promoting African identity and heritage everywhere.&nbsp;<o:p></o:p></span></div>
</body>

</html